[package]
name = "krata-xencall"
description = "An implementation of direct interfacing to xen privcmd for krata."
license.workspace = true
version.workspace = true
homepage.workspace = true
repository.workspace = true
edition = "2021"
resolver = "2"

[dependencies]
libc = { workspace = true }
log = { workspace = true }
nix = { workspace = true, features = ["ioctl"] }
thiserror = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }

[lib]
name = "xencall"

[dev-dependencies]
env_logger = { workspace = true }

[[example]]
name = "xencall-domain-info"
path = "examples/domain_info.rs"

[[example]]
name = "xencall-domain-create"
path = "examples/domain_create.rs"

[[example]]
name = "xencall-version-capabilities"
path = "examples/version_capabilities.rs"
