[workspace]
members = [
    "crates/build",
    "crates/krata",
    "crates/oci",
    "crates/zone",
    "crates/runtime",
    "crates/daemon",
    "crates/network",
    "crates/ctl",
    "crates/xen/xencall",
    "crates/xen/xenclient",
    "crates/xen/xenevtchn",
    "crates/xen/xengnt",
    "crates/xen/xenplatform",
    "crates/xen/xenstore",
]
resolver = "2"

[workspace.package]
version = "0.0.13"
homepage = "https://krata.dev"
license = "Apache-2.0"
repository = "https://github.com/edera-dev/krata"

[workspace.dependencies]
anyhow = "1.0"
arrayvec = "0.7.4"
async-compression = "0.4.12"
async-stream = "0.3.5"
async-trait = "0.1.81"
backhand = "0.18.0"
base64 = "0.22.1"
byteorder = "1"
bytes = "1.7.1"
c2rust-bitfields = "0.18.0"
cgroups-rs = "0.3.4"
circular-buffer = "0.1.7"
comfy-table = "7.1.1"
crossterm = "0.27.0"
ctrlc = "3.4.4"
elf = "0.7.4"
env_logger = "0.11.5"
etherparse = "0.15.0"
fancy-duration = "0.9.2"
flate2 = "1.0"
futures = "0.3.30"
hyper = "1.4.1"
hyper-util = "0.1.6"
human_bytes = "0.4"
indexmap = "2.3.0"
indicatif = "0.17.8"
ipnetwork = "0.20.0"
libc = "0.2"
log = "0.4.22"
loopdev-3 = "0.5.1"
krata-advmac = "1.1.0"
krata-tokio-tar = "0.4.0"
memchr = "2"
nix = "0.29.0"
oci-spec = "0.6.8"
once_cell = "1.19.0"
path-absolutize = "3.1.1"
path-clean = "1.0.1"
pin-project-lite = "0.2.14"
platform-info = "2.0.3"
prost = "0.13.1"
prost-build = "0.13.1"
prost-reflect-build = "0.14.0"
prost-types = "0.13.1"
rand = "0.8.5"
ratatui = "0.27.0"
redb = "2.1.1"
regex = "1.10.5"
rtnetlink = "0.14.1"
scopeguard = "1.2.0"
serde_json = "1.0.122"
serde_yaml = "0.9"
sha256 = "1.5.0"
signal-hook = "0.3.17"
slice-copy = "0.3.0"
smoltcp = "0.11.0"
sysinfo = "0.30.13"
termtree = "0.5.1"
thiserror = "1.0"
tokio-tun = "0.11.5"
toml = "0.8.19"
tonic-build = "0.12.1"
tower = "0.4.13"
udp-stream = "0.0.12"
url = "2.5.2"
walkdir = "2"
xz2 = "0.1"

[workspace.dependencies.clap]
version = "4.5.13"
features = ["derive"]

[workspace.dependencies.prost-reflect]
version = "0.14.0"
features = ["derive"]

[workspace.dependencies.reqwest]
version = "0.12.5"
default-features = false
features = ["rustls-tls"]

[workspace.dependencies.serde]
version = "1.0.204"
features = ["derive"]

[workspace.dependencies.sys-mount]
version = "3.0.0"
default-features = false

[workspace.dependencies.tokio]
version = "1.39.2"
features = ["full"]

[workspace.dependencies.tokio-stream]
version = "0.1"
features = ["io-util", "net"]

[workspace.dependencies.tonic]
version = "0.12.1"
features = ["tls"]

[workspace.dependencies.uuid]
version = "1.10.0"
features = ["v4"]

[profile.release]
lto = "fat"
strip = "symbols"
