[workspace]
members = [
    "crates/build",
    "crates/krata",
    "crates/oci",
    "crates/guest",
    "crates/runtime",
    "crates/daemon",
    "crates/network",
    "crates/ctl",
    "crates/xen/xencall",
    "crates/xen/xenclient",
    "crates/xen/xenevtchn",
    "crates/xen/xengnt",
    "crates/xen/xenplatform",
    "crates/xen/xenstore",
]
resolver = "2"

[workspace.package]
version = "0.0.10"
homepage = "https://krata.dev"
license = "Apache-2.0"
repository = "https://github.com/edera-dev/krata"

[workspace.dependencies]
anyhow = "1.0"
arrayvec = "0.7.4"
async-compression = "0.4.11"
async-stream = "0.3.5"
async-trait = "0.1.80"
backhand = "0.15.0"
base64 = "0.22.1"
byteorder = "1"
bytes = "1.5.0"
c2rust-bitfields = "0.18.0"
cgroups-rs = "0.3.4"
circular-buffer = "0.1.7"
comfy-table = "7.1.1"
crossterm = "0.27.0"
ctrlc = "3.4.4"
elf = "0.7.4"
env_logger = "0.11.0"
etherparse = "0.14.3"
fancy-duration = "0.9.2"
flate2 = "1.0"
futures = "0.3.30"
human_bytes = "0.4"
indexmap = "2.2.6"
indicatif = "0.17.8"
ipnetwork = "0.20.0"
libc = "0.2"
log = "0.4.20"
loopdev-3 = "0.5.1"
krata-advmac = "1.1.0"
krata-tokio-tar = "0.4.0"
memchr = "2"
nix = "0.28.0"
oci-spec = "0.6.4"
once_cell = "1.19.0"
path-absolutize = "3.1.1"
path-clean = "1.0.1"
platform-info = "2.0.3"
prost = "0.12.6"
prost-build = "0.12.6"
prost-reflect-build = "0.13.0"
prost-types = "0.12.6"
rand = "0.8.5"
ratatui = "0.26.3"
redb = "2.1.0"
regex = "1.10.4"
rtnetlink = "0.14.1"
scopeguard = "1.2.0"
serde_json = "1.0.117"
serde_yaml = "0.9"
sha256 = "1.5.0"
signal-hook = "0.3.17"
slice-copy = "0.3.0"
smoltcp = "0.11.0"
sysinfo = "0.30.12"
termtree = "0.4.1"
thiserror = "1.0"
tokio-tun = "0.11.4"
toml = "0.8.14"
tonic-build = "0.11.0"
tower = "0.4.13"
udp-stream = "0.0.11"
url = "2.5.0"
walkdir = "2"
xz2 = "0.1"

[workspace.dependencies.clap]
version = "4.4.18"
features = ["derive"]

[workspace.dependencies.prost-reflect]
version = "0.13.1"
features = ["derive"]

[workspace.dependencies.reqwest]
version = "0.12.4"
default-features = false
features = ["rustls-tls"]

[workspace.dependencies.serde]
version = "1.0.203"
features = ["derive"]

[workspace.dependencies.sys-mount]
version = "3.0.0"
default-features = false

[workspace.dependencies.tokio]
version = "1.38.0"
features = ["full"]

[workspace.dependencies.tokio-stream]
version = "0.1"
features = ["io-util", "net"]

[workspace.dependencies.tonic]
version = "0.11.0"
features = ["tls"]

[workspace.dependencies.uuid]
version = "1.6.1"
features = ["v4"]

[profile.release]
lto = "fat"
strip = "symbols"
