[workspace]
members = [
    "libs/xen/xenstore",
    "libs/xen/xenevtchn",
    "libs/xen/xencall",
    "libs/xen/xenclient",
    "libs/advmac",
    "libs/loopdev",
    "shared",
    "container",
    "network",
    "controller",
]
resolver = "2"

[workspace.package]
version = "0.0.1"

[workspace.dependencies]
anyhow = "1.0"
thiserror = "1.0"
log = "0.4.20"
libc = "0.2"
nix = "0.27.1"
bytemuck = "1.14.0"
slice-copy = "0.3.0"
memchr = "2"
xz2 = "0.1"
flate2 = "1.0"
elf = "0.7.4"
env_logger = "0.11.0"
errno = "0.3.0"
oci-spec = "0.6.4"
backhand = "0.14.2"
sha256 = "1.5.0"
serde_json = "1.0.113"
walkdir = "2"
directories = "5.0.1"
tar = "0.4.40"
zstd = "0.13.0"
termion = "3.0.0"
path-clean = "1.0.1"
ureq = "2.9.1"
url = "2.5.0"
cli-tables = "0.2.1"
rand = "0.8.5"
arrayvec = "0.7.4"
rtnetlink = "0.14.1"
netlink-packet-route = "0.19.0"
futures = "0.3.30"
ipnetwork = "0.20.0"
udp-stream = "0.0.11"
smoltcp = "0.11.0"
etherparse = "0.14.2"
async-trait = "0.1.77"
async-ping = "0.2.1"

[workspace.dependencies.uuid]
version = "1.6.1"
features = ["v4"]

[workspace.dependencies.sys-mount]
version = "3.0.0"
default-features = false

[workspace.dependencies.clap]
version = "4.4.18"
features = ["derive"]

[workspace.dependencies.tokio]
version = "1.35.1"
features = ["macros", "rt", "rt-multi-thread"]

[workspace.dependencies.serde]
version = "1.0.196"
features = ["derive"]

[workspace.dependencies.icmp-client]
version = "0.2"
features = ["impl_tokio"]
