[workspace]
git_release_enable = false
git_tag_enable = false
changelog_update = false

[[package]]
name = "krata"
git_release_name = "v{{ version }}"
git_tag_name = "v{{ version }}"
git_tag_enable = true
git_release_enable = true
changelog_update = true
changelog_path = "./CHANGELOG.md"
changelog_include = [
    "krata-daemon",
    "krata-ctl",
    "krata-guest",
    "krata-network",
    "krata-runtime",
    "krata-oci",
]

[[package]]
name = "krata-xencall"
semver_check = false

[[package]]
name = "krata-xenclient"
semver_check = false

[[package]]
name = "krata-xenevtchn"
semver_check = false

[[package]]
name = "krata-xengnt"
semver_check = false

[[package]]
name = "krata-xenplatform"
semver_check = false

[[package]]
name = "krata-xenstore"
semver_check = false
