@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Source+Sans+Pro&display=swap');

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.content-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1, h3 {
  font-family: "Dosis", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 50px;
  margin-bottom: 38.5px;
  font-size: 64px;
}

h3 {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 32px;
}

#links > a {
  padding: 0.5em;
}
