[package]
name = "krata-xenclient"
description = "An implementation of Xen userspace for krata"
license.workspace = true
version.workspace = true
homepage.workspace = true
repository.workspace = true
edition = "2021"
resolver = "2"

[dependencies]
async-trait = { workspace = true }
bit-vec = { workspace = true }
indexmap = { workspace = true }
log = { workspace = true }
krata-xencall = { path = "../xencall", version = "^0.0.25" }
krata-xenplatform = { path = "../xenplatform", version = "^0.0.25" }
krata-xenstore = { path = "../xenstore", version = "^0.0.25" }
regex = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }

[dev-dependencies]
env_logger = { workspace = true }
tokio = { workspace = true }

[lib]
name = "xenclient"

[[example]]
name = "xenclient-boot"
path = "examples/boot.rs"

[[example]]
name = "xenclient-pci"
path = "examples/pci.rs"
