[Unit]
Description=Krata Networking Daemon

[Service]
Restart=on-failure
Type=simple
WorkingDirectory=/var/lib/krata
ExecStart=/usr/local/bin/kratanet
Environment=RUST_LOG=info
User=root

[Install]
WantedBy=multi-user.target
