[Unit]
Description=Krata Networking Engine

[Service]
Wants=kratad.service
After=kratad.service
Restart=on-failure
Type=simple
ExecStart=/usr/libexec/kratanet
Environment=RUST_LOG=info
User=root

[Install]
WantedBy=multi-user.target
