[Unit]
Description=Krata Controller Daemon

[Service]
Restart=on-failure
Type=simple
WorkingDirectory=/var/lib/krata
ExecStart=/usr/local/bin/kratad -l unix:///var/lib/krata/daemon.socket
Environment=RUST_LOG=info
User=root

[Install]
WantedBy=multi-user.target
