[Unit]
Description=Krata Control Daemon

[Service]
Restart=on-failure
Type=simple
ExecStartPre=/bin/mkdir -p /var/lib/krata
ExecStart=/usr/libexec/kratad -l unix:///var/lib/krata/daemon.socket
Environment=RUST_LOG=info
User=root

[Install]
WantedBy=multi-user.target
